.select2-selection__rendered {
    user-select: text;
}

* {
    margin: 0;
    padding: 0;
}

label {
    display: block;
    border-radius: 5px;
}

.div-input {
    margin: 15px;
}

.radio {
    margin-right: 5px !important;
}

.form-control:focus {
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-control {
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

html {
    overflow-x: hidden;
}

input {
    font-size: 80% !important;
    padding-left: 5px;
}

.tel {
    margin-right: 7px;
}

.obg {
    color: red !important;
    margin-left: 3px;
}

#header {
    padding: 0 !important;
}

#nav-ul {
    list-style-type: none;
}

#nav-ul li {
    display: inline;
    border-bottom: solid 1px lightgray;
    padding: 0 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 3px;
}

.act {
    border-bottom: solid 3px lightblue !important;
}

#nav-ul li:first-child {
    margin-left: -5.5%;
}

#nav-ul a {
    color: black;
    text-decoration: none;
}

#importacao_eventos option {
    font-size: 14px;
}

#importacao_eventos {
    font-size: 12.9px;
}

.modal-content input {
    border: solid 2px lightgray;
    border-radius: 5px;
    height: 26px;
}

.modal-content {
    margin-top: 25%;
}

.modal {
    height: 100%;
}

#t {
    position: absolute;
    top: 10%;
    bottom: 0;
}

#nav-ul li {
    display: inline-block;
}

.tveiculo {
    margin-right: 5px !important;
}

body {
    background-color: lightgray !important;
}